@import 'https://icons.cube.exchange/cube-icons.css';
@import 'tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--palete-mode: 'dark';
	--pallete-primary-main: #FFFFFF;
	--palete-secondary-main: #191919;
	--palete-background-default: #000000;
	--palete-background-paper: #232322;
}

body {
	background-color: var(--palete-background-default);
	font-family: 'GT America Light', sans-serif;
}

@font-face {
	font-family: cube-icons1;
	src: url('/src/assets/fonts/cube-icons1.woff2') format("woff2"),
	url('/src/assets/fonts/cube-icons1.ttf') format("truetype"),
	url('/src/assets/fonts/cube-icons1.woff') format("woff"),
	url('/src/assets/fonts/cube-icons1.svg') format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: 'GT America Light';
	src:
		/*url('/src/assets/fonts/gt_america_light.woff2') format("woff2"),*/
		/*url('/src/assets/fonts/gt_america_light.woff') format("woff"),*/
		/*url('/src/assets/fonts/gt_america_light.svg') format("svg"),*/
		url('/src/assets/fonts/gt_america_light.ttf') format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: 'GT America Mono Light';
	src:
		/*url('/src/assets/fonts/gt_america_mono_light.ttf') format("truetype"),*/
		/*url('/src/assets/fonts/gt_america_mono_light.woff') format("woff"),*/
		/*url('/src/assets/fonts/gt_america_mono_light.svg') format("svg"),*/
		url('/src/assets/fonts/gt_america_mono_light.woff2') format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: 'PP Editorial New Light';
	src:
		/*url('/src/assets/fonts/pp_editorial_new_light.woff2') format("woff2"),*/
		/*url('/src/assets/fonts/pp_editorial_new_light.woff') format("woff"),*/
		/*url('/src/assets/fonts/pp_editorial_new_light.svg') format("svg"),*/
		url('/src/assets/fonts/pp_editorial_new_light.ttf') format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}
