@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--palete-mode: 'dark';
	--pallete-primary-main: #181818;
	--palete-secondary-main: #F18503;
	--palete-background-default: #212121;
	--palete-background-paper: #393939;
}

body {
	background-color: var(--palete-background-default);
}
